body {
    font-family: "Roboto", sans;
    margin: 0, 10%;
  }
  
  .container {
     border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
  }
  
  .color-container {
    width: 100%;
  }
  
  .color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
  }
  
  .LightGray {
    background-color: #D3D3D3;
    color: black;
  }
  
  .LightSlateGray {
    background-color: #778899;
    color: #fff;
  }
  
  .GrannySmith {
    background-color: #779988;
    color: #fff;
  }
  
  .Juniper {
    background-color: #779999;
    color: #fff;
  }
  
  .font-panel {
    width: 45%;
    display: inline-block;
  }
  
  .font-label {
    font-size: 20px;
    text-decoration: underline;
  }
  
  .regular {
    font-style: normal;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .italic {
    font-style: italic;
  }
  
  .exo {
    font-family: 'Exo', sans-serif;
  }
  
  .roboto {
    font-family: 'Roboto', monospace;
  }
  
  .noto-sans {
    font-family: 'Noto Sans', sans-serif;
  }
  
  .text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Roboto', monospace;
  }
  
  .text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Exo', sans-serif;
  }
  
  .text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
  }